<div class="callout callout-info no-subheader">
    <div class="header">
        <i class="icon-info"></i>
        <h3><?= trans('keios.pgpaypal::lang.info.header') ?></h3>
    </div>
    <div class="content">
        <ol>
            <li>Go to <a target="_blank" href="https://developer.paypal.com/">https://developer.paypal.com/</a>, Log in with your PayPal Credentials and click <b>Dashboard</b> in the <b>Top Menu</b>.</li>
            <li>Click <b>Create App</b> button, provide <b>App Name</b> and click <b>Create App</b> again.</li>
            <li>Copy your <b>Client ID</b> and <b>Secret</b> into the fields below.</li>
            <li>If you are using Sanbox mode, make sure that <b>Test mode</b> switch below is enabled.</li>
        </ol>
    </div>
</div>